@charset "utf-8";

/* ==================
  全般的なスタイル
===================== */

body {
  background-color: #ffffff;      /*背景色*/
  color: #000000;     /*文字色*/
}

div#pagebody {
  width: 100%;
}

/* ==================
  メインメニュー
===================== */

ul#menu {
  display: none;
}

/* ==================
  ヘッダー画像
===================== */

#img_index {
  display: none;
}

#img_subpage {
  display: none;
}

/* ==================
  サブメニュー(左カラム)
===================== */

div#submenu {
  display: none;
}

/* ==================
  インフォメーション(右カラム)
===================== */

div#info {
  width: 100%;
}

p {
  width: 100%;
}

.infoimg_index {
  width: 200px;
  height: 150px;
  margin: 0px 0px 20px 20px;
  float: right;
}

.infoimg_subpage {
  width: 400px;
  height: 300px;
  margin: 0px 20px 20px 0px;
  float: left;
}

hr {
  width: 100%;
}

/* ==================
  フッター
===================== */

div#footer {
  display: none;
}
